.body {
  margin: auto;
}
.landing {
  margin-top: 300px;
}
.center {
  text-align: center;
}
.btn-group button {
  margin-inline: auto;
  margin-bottom: 15px;
  display: block;
}
.about{
  padding: 90px;
}